<html lang="">
<head>
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>TODO</h1>
<section hx-target="#todoList">
    <input type="search"
           name="search" placeholder="Begin Typing To Search..."
           hx-get="/todos"
           hx-trigger="keyup changed delay:500ms, search"
    >

    <section id="todoList">
        {{> "TodoList" this}}
    </section>

    <form hx-post="/todos">
        <label>
            Add new item:
            <input type="text" name="description"/>
        </label>
    </form>
</section>
</body>
</html>