<html lang="">
<head>
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>TODO</h1>
<input type="search"
       name="search" placeholder="Begin Typing To Search..."
       hx-get="/todos"
       hx-trigger="keyup changed delay:500ms, search"
       hx-target="#TodoList"
       hx-swap="outerHTML">
<section>
    {{> "TodoList" todoList}}
</section>
<section>
    <form hx-target="#TodoList" hx-swap="outerHTML" hx-post="/todos">
        <label>
            Description
            <input type="text" name="description" />
        </label>
    </form>
</section>
</body>
</html>